.clerk-component-editor .components-placeholder {
	min-height: 0;
}

.clerk-component-editor .components-placeholder__fieldset {
	flex-direction: column;
	align-items: stretch;
	gap: 16px;

	> p {
		margin: 0;
	}
}

.clerk-show-editor-content {
	padding: 16px;
	border: 1px solid #dcdcde;
	border-top: 0;
	background: #f6f7f7;
}
